/* Este son los estilos para los articulos de Libres como el pensamiento */
body{
    background-color: rgb(240, 240, 240);
    font-family: 'Times New Roman', Times, serif;
}
.articulo-lp{
    display:flexbox;
}